In [1]:
import numpy as np
nums = np.array(range(1,101))
nums

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])

In [2]:
sq_nums = np.square(nums)
sq_nums

array([    1,     4,     9,    16,    25,    36,    49,    64,    81,
         100,   121,   144,   169,   196,   225,   256,   289,   324,
         361,   400,   441,   484,   529,   576,   625,   676,   729,
         784,   841,   900,   961,  1024,  1089,  1156,  1225,  1296,
        1369,  1444,  1521,  1600,  1681,  1764,  1849,  1936,  2025,
        2116,  2209,  2304,  2401,  2500,  2601,  2704,  2809,  2916,
        3025,  3136,  3249,  3364,  3481,  3600,  3721,  3844,  3969,
        4096,  4225,  4356,  4489,  4624,  4761,  4900,  5041,  5184,
        5329,  5476,  5625,  5776,  5929,  6084,  6241,  6400,  6561,
        6724,  6889,  7056,  7225,  7396,  7569,  7744,  7921,  8100,
        8281,  8464,  8649,  8836,  9025,  9216,  9409,  9604,  9801,
       10000])

In [4]:
s = "a quick brown fox jumped over a lazy dog"
s_l = s.split()
d = {}
for w in s_l:
    if w not in d:
        d[w]=1
    else:
        d[w]+=1
d

{'a': 2,
 'quick': 1,
 'brown': 1,
 'fox': 1,
 'jumped': 1,
 'over': 1,
 'lazy': 1,
 'dog': 1}

In [9]:
import random
l = list(range(0, 500))
nums = [random.choice(l) for i in range(100)]
print('Mean:', np.mean(nums), '\nMedian:', np.median(nums))

Mean: 221.23
Median: 172.5

In [12]:
above_mean = [i for i in nums if i>np.mean(nums)]
below_mean = [i for i in nums if i<np.mean(nums)]
print("More than mean:", above_mean)
print("Less than mean:", below_mean)

More than mean: [270, 454, 443, 455, 463, 461, 356, 491, 397, 352, 364, 388, 293, 305, 454, 279, 382, 445, 424, 315, 292, 327, 371, 455, 340, 379, 357, 497, 384, 340, 261, 439, 362, 237, 489, 257, 295, 300, 450, 426, 463, 398, 307]
Less than mean: [46, 47, 171, 157, 133, 130, 36, 49, 174, 121, 38, 112, 210, 51, 198, 113, 46, 215, 65, 204, 31, 14, 104, 129, 159, 39, 11, 148, 84, 55, 52, 128, 157, 95, 57, 134, 42, 2, 105, 155, 160, 126, 23, 2, 87, 3, 98, 107, 128, 165, 138, 133, 176, 56, 146, 128, 213]